CREATE TABLE categorie (id INT AUTO_INCREMENT NOT NULL, nom VARCHAR(50) NOT NULL, description LONGTEXT DEFAULT NULL, date_creation DATETIME NOT NULL, actif TINYINT(1) NOT NULL, PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE cours (id INT AUTO_INCREMENT NOT NULL, module_id INT NOT NULL, titre VARCHAR(150) NOT NULL, description LONGTEXT DEFAULT NULL, contenu LONGTEXT DEFAULT NULL, fichier_contenu VARCHAR(255) DEFAULT NULL, duree INT NOT NULL, ordre INT NOT NULL, date_creation DATETIME NOT NULL, date_modification DATETIME DEFAULT NULL, actif TINYINT(1) NOT NULL, INDEX IDX_FDCA8C9CAFC2B591 (module_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE game (id INT AUTO_INCREMENT NOT NULL, cours_id INT DEFAULT NULL, titre VARCHAR(255) NOT NULL, type VARCHAR(255) NOT NULL, niveau VARCHAR(255) NOT NULL, score_max INT NOT NULL, last_score INT DEFAULT NULL, avg_score DOUBLE PRECISION DEFAULT NULL, duration INT DEFAULT NULL, attempt_number INT NOT NULL, created_at DATETIME NOT NULL, INDEX IDX_232B318C7ECF78B0 (cours_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE game_question (id INT AUTO_INCREMENT NOT NULL, game_id INT NOT NULL, question_text LONGTEXT NOT NULL, option1 VARCHAR(255) DEFAULT NULL, option2 VARCHAR(255) DEFAULT NULL, option3 VARCHAR(255) DEFAULT NULL, option4 VARCHAR(255) DEFAULT NULL, correct_answer VARCHAR(255) NOT NULL, INDEX IDX_1DB3B668E48FD905 (game_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE module (id INT AUTO_INCREMENT NOT NULL, categorie_id INT NOT NULL, titre VARCHAR(100) NOT NULL, description LONGTEXT DEFAULT NULL, duree INT NOT NULL, niveau VARCHAR(20) NOT NULL, date_creation DATETIME NOT NULL, actif TINYINT(1) NOT NULL, INDEX IDX_C242628BCF5E72D (categorie_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
ALTER TABLE cours ADD CONSTRAINT FK_FDCA8C9CAFC2B591 FOREIGN KEY (module_id) REFERENCES module (id);
ALTER TABLE game ADD CONSTRAINT FK_232B318C7ECF78B0 FOREIGN KEY (cours_id) REFERENCES cours (id);
ALTER TABLE game_question ADD CONSTRAINT FK_1DB3B668E48FD905 FOREIGN KEY (game_id) REFERENCES game (id);
ALTER TABLE module ADD CONSTRAINT FK_C242628BCF5E72D FOREIGN KEY (categorie_id) REFERENCES categorie (id);
ALTER TABLE events ADD categorie_id INT NOT NULL, ADD cours_id INT DEFAULT NULL, ADD game_id INT DEFAULT NULL, DROP categorie, CHANGE date_creation date_creation DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL, CHANGE capacite capacite INT DEFAULT 50 NOT NULL, CHANGE inscrits inscrits INT DEFAULT 0 NOT NULL, CHANGE prix prix NUMERIC(8, 2) DEFAULT '0' NOT NULL;
ALTER TABLE events ADD CONSTRAINT FK_5387574ABCF5E72D FOREIGN KEY (categorie_id) REFERENCES categorie (id);
ALTER TABLE events ADD CONSTRAINT FK_5387574A7ECF78B0 FOREIGN KEY (cours_id) REFERENCES cours (id);
ALTER TABLE events ADD CONSTRAINT FK_5387574AE48FD905 FOREIGN KEY (game_id) REFERENCES game (id);
CREATE INDEX IDX_5387574ABCF5E72D ON events (categorie_id);
CREATE INDEX IDX_5387574A7ECF78B0 ON events (cours_id);
CREATE INDEX IDX_5387574AE48FD905 ON events (game_id);
ALTER TABLE registrations CHANGE montant_paye montant_paye NUMERIC(8, 2) DEFAULT '0' NOT NULL;
