{% extends 'forum/Front/base_front.html.twig' %}

{% block title %}Modifier un message{% endblock %}

{% block body %}
    <h1>Modifier un message</h1>

    {{ include('message/_form.html.twig') }}
{% endblock %}
