{% extends 'base.html.twig' %}

{% block title %}Statistiques des forums{% endblock %}
{% block page_title %}Statistiques{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Statistiques générales</h2>
            <p>Total des forums créés : <strong>{{ totalForums }}</strong></p>
        </div>
    </div>
{% endblock %}
